body {
  font-family: 'Inter Tight', Tahoma, sans-serif;
  color: #141414;
  scroll-behavior: smooth;
}
.section {
  padding: 80px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
