:root {
    --black: #141414;
    --white: #FBFBFB;
    --chianti: #7A3145;
    --blush: #D4BFC4;
    --green: #576F35;
    --grey: #858585;
    --transparent: #141414;
    --greenlight: #3CBC81;
    --smthwrong: #E74A3B;
}


p {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    display: block;
}
label {
    margin: 0;
    padding: 0;
}


/* .font-h-one {
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.015em;
}
.font-h-two {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.015em;
}
.font-h-three {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.015em;
}
.font-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0;
}
.font-footer-p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0;
}
.font-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.015em;
} */

/* @media only screen and (min-width: 320px) and (max-width: 374px) {
    .font-h-two {
        font-weight: 600;
        font-size: 44px;
        line-height: 1.08;
        letter-spacing: -0.015em;
    }
} */

@media only screen and (min-width: 768px) {
    /* .font-h-one {
        font-size: 76px;
    }
    .font-h-two {
        font-size: 64px;
        line-height: 1;
    }
    .font-h-three {
        font-size: 32px;
    }
    .font-p {
        font-size: 16px;
        line-height: 1.25;
    }
    .font-footer-p {
        font-size: 16px;
        line-height: 1.25;
    } */
}

